{{#section 'title'}}Account information{{/section}}
<div class="col-lg-12">
    <div class="iq-card">
        <div class="iq-card-body p-0">
            <div class="iq-edit-list">
                <ul class="iq-edit-profile d-flex nav nav-pills">
                    <li class="col-md-3 p-0">
                        <a class="nav-link {{#unless (isEqual method "password")}}active{{/unless}}" data-toggle="pill" href="#personal-information">
                            Personal Information
                        </a>
                    </li>
                    <li class="col-md-3 p-0">
                        <a class="nav-link {{#if (isEqual method "password")}}active{{/if}}" data-toggle="pill" href="#chang-pwd">
                            Change Password
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{#if errorMsg}}
    <div class="alert text-white bg-primary" role="alert">
        <div class="iq-alert-text">{{errorMsg}}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="ri-close-line"></i>
        </button>
    </div>
    {{/if}}
    {{#if succMsg}}
    <div class="alert text-white bg-success" role="alert">
        <div class="iq-alert-text">{{succMsg}}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="ri-close-line"></i>
        </button>
    </div>
    {{/if}}
</div>
<div class="col-lg-12">
    <div class="iq-edit-list-data">
        <div class="tab-content">
            <div class="tab-pane fade {{#unless (isEqual method "password")}}active show{{/unless}}" id="personal-information" role="tabpanel">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Personal Information</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form>
                            <div class="form-group row align-items-center">
                                <div class="col-md-12">
                                    <div class="profile-img-edit">
                                        <img class="profile-pic" src="images/user/11.png" alt="profile-pic">
                                        <div class="p-image">
                                            <i class="ri-pencil-line upload-button"></i>
                                            <input class="file-upload" type="file" accept="image/*" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row align-items-center">
                                <div class="form-group col-sm-12">
                                    <label for="uname">User Name:</label>
                                    <input type="text" class="form-control" id="uname" value="{{lcAuthUser.userName}}">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" value="{{lcAuthUser.email}}">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="d-block">Gender:</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio6" name="customRadio1"
                                            class="custom-control-input" {{#if lcAuthUser.gender}}checked{{/if}}>
                                        <label class="custom-control-label" for="customRadio6"> Male </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio7" name="customRadio1"
                                            class="custom-control-input" {{#unless lcAuthUser.gender}}checked{{/unless}}>
                                        <label class="custom-control-label" for="customRadio7"> Female </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="dob">Date Of Birth:</label>
                                    <input type="date" class="form-control" id="dob" value="{{parseDate lcAuthUser.DOB}}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button type="reset" class="btn iq-bg-danger">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade {{#if (isEqual method "password")}}active show{{/if}}" id="chang-pwd" role="tabpanel">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form method="POST" action="?method=password">
                            <div class="form-group">
                                <label for="cpass">Current Password:</label>
                                <a href="/forget" class="float-right">Forgot Password</a>
                                <input type="Password" class="form-control" id="cpass" name="cpass" value="">
                            </div>
                            <div class="form-group">
                                <label for="npass">New Password:</label>
                                <input type="Password" class="form-control" id="npass" name="npass" value="">
                            </div>
                            <div class="form-group">
                                <label for="vpass">Verify Password:</label>
                                <input type="Password" class="form-control" id="vpass" name="vpass" value="">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button type="reset" class="btn iq-bg-danger">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>